[submodule "vendor/wxWidgets"]
	path = vendor/wxWidgets
	url = https://github.com/wxWidgets/wxWidgets
[submodule "vendor/cpp_utils"]
	path = vendor/cpp_utils
	url = https://github.com/Poler2000/cpp_utils
[submodule "vendor/asio"]
	path = vendor/asio
	url = https://github.com/chriskohlhoff/asio
